body{
	background-color:#f1f3f4;
}
img{
	background-color:#f1f3f4;
}
.hbd{
	font-family: 'Galada', cursive;
	margin-bottom:0;
	font-size:45px;
	color:#29c7ac;
}
.rem{
	font-family:"Verdana", san-serif;
	font-weight:Bold;
	font-size:2rem;
	color:Green;
}
.name{
	font-family: 'Sacramento', cursive;
	margin-top:5;
	font-size:3rem;
	color:#ff9d9d;
}
.content{
	padding-top:100px;
	display:none; 
}
.gift{
	display:none;
}
.add{
	margin-top:100px;
	display:inline;
}
.remove{
	display:none;
}
path {
  fill: transparent;
}
